DATABASE_URL="mysql://root@localhost:3306/coffee_shop_db"
PORT=3000
JWT_SECRET="your-secret-key-here"

API_VERSION=v1

CLOUDINARY_CLOUD_NAME="de3xi5epb"
CLOUDINARY_API_KEY="485622184342132"
CLOUDINARY_API_SECRET="ZVPS96VkWDUKzv5TKsoMCLA4Ilo"

# Bank Configuration (VietQR)
BANK_ID="MB"
BANK_ACCOUNT_NO="0352526378"
BANK_TEMPLATE="compact"

GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyBnG29Hoj3ifrfhHjQ9iHi1LxjytqxHPdY