DATABASE_URL="mysql://root@localhost:3306/coffee_shop_db"
PORT=3000
JWT_SECRET="your-secret-key-here"

API_VERSION=v1

CLOUDINARY_CLOUD_NAME="xxxxx"
CLOUDINARY_API_KEY="123456789"
CLOUDINARY_API_SECRET="abcdefghijk"
